@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --color-header: #07000e;
    /* #3f0461 */
    --color-nav: #07000e;
    /* #2a0441 */
    --color-fondo: #07000e;
    /* #190c25 */
}

/* Reset y estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-fondo);
}


/*PRIMERA PARTE DE LA PAGINA WEB*/

/* Header principal */
.header-container {
    background-color: var(--color-header);
}

/* Parte superior del header */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo */
.header-logo img {
    width: 180px;
    max-width: 100%;
    height: auto;
}

/* Barra de busqueda*/
.search-container {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search-container::focus-within {
    box-shadow: 0 0 2px var(--color-header);
}

.search-input {
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    background: transparent;
    width: 500px;
    height: 32px;
    border: transparent;
}

.search-input::placeholder,
#search-icon {
    color: var(--color-header);
}

/* Redes sociales */
/*.header-social {
    display: flex;
    gap: 1rem;
}

.header-social a {
    display: block;
    width: 32px;
    height: 32px;
}*/

/* Navegacion de usuario */
.header-user-nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

.header-user-nav ul li a {
    display: flex;
    gap: 5px;
    color: #ffffff;
    text-decoration: none;
}



/* Navegacion principal */
.header-main-nav {
    background-color: var(--color-nav);
    padding: 1rem;
    text-transform: uppercase;
}

.header-main-nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
}

.header-main-nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}



/*PARTE DOS DE LA PAGINA WEB*/

/*Descuentos*/

.banner-descuentos {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.swiper-descuentos {
    position: relative;
    max-width: 1200px;
    overflow: hidden;
    height: 620px;
    margin: 0 auto;

}

.descuentos-container {
    box-sizing: border-box;
}

.tarjeta-descuento {
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
}

.tarjeta-descuento img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*PARTE 3, BANNER DE SALUDO*/
.bienvenida-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.mensaje {
    color: #ffffff;
    font-size: 28px;
}

/* PARTE 4 BANNER DE INFORMACION */
.banner-informacion {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.banner-informacion .swiper-informacion {
    position: relative;
    overflow: visible;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 8px;
}

/* Contenedor de tarjetas */
.banner-informacion .swiper-informacion .informacion-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
    transform: none;
    position: relative;
    left: 0;
}

/* Tarjeta */
.banner-informacion .swiper-slide.tarjeta-informacion {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: var(--color-fondo);
    border-radius: 8px;
    box-shadow: 0 2px 5px #ffffff2a;
    padding: 15px;
    width: 23.5%;
    min-width: 0;
    height: auto;
    margin: 0;
}

/* Icono */
.columna-icono {
    margin-right: 14px;
    flex-shrink: 0;
}

.columna-descripcion {
    flex: 1;
    min-width: 0;
}

.columna-icono .material-symbols-outlined,
.columna-icono #whatsapp-icon {
    font-size: 25px;
    color: #2a5ee7;
}

.columna-descripcion h3 {
    font-size: 16px;
    margin-bottom: 8px;
    /*color: #333;*/
    color: #ffffff;
    white-space: normal;
}

.columna-descripcion p {
    font-size: 12px;
    line-height: 1.4;
    /*color: #666;*/
    color: #ffffff;
    margin: 0;
    white-space: normal;
}

/* Quita las flechas del swiper y lo demas */
.banner-informacion .swiper-pagination,
.banner-informacion .swiper-button-prev,
.banner-informacion .swiper-button-next {
    display: none !important;
}