@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --color-header: #07000e;
    /* #3f0461 */
    --color-nav: #07000e;
    /* #2a0441 */
    --color-fondo: #07000e;
    /* #190c25 */
    --font-input: 18px;

    --font-titulo-card: 16px;

    --font-descripcion: 12px;

    --font-titulo: 28px;
}

/*==========RESET Y ESTILOS BASE==========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-fondo);
}

header,
main,
footer {
    max-width: 1357px;
    margin: 0 auto;
}

header {
    background-color: #07000e;
    position: sticky;
    top: 0;
    z-index: 2;
}

/*==========HEADER TOP==========*/
.header-top-container {
    padding: 1rem 0;
}

.header-top-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

/*GRID EN COLUMNA UNO, DOS Y TRES*/
.header-top-container .logo-container a,
.header-top-container .logo-container a img {
    display: flex;
    align-items: center;
    width: 200px;
}

.header-top-container .formulario-container,
.header-top-container .usuario-container,
.header-top-container .usuario-container ul,
.header-top-container .usuario-container ul li a {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-top-container .usuario-container ul {
    list-style-type: none;
    gap: 30px;
}

.header-top-container .usuario-container ul li a {
    text-decoration: none;
    color: #ffffff;
}

/*BARRA DE BUSQUEDA*/
.header-top-container .formulario-container .search-container {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}

.header-top-container .formulario-container .search-container::focus-within {
    box-shadow: 0 0 2px var(--color-header);
}

.header-top-container .formulario-container .search-container .search-input {
    font-size: 18px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    background: transparent;
    width: 500px;
    height: 32px;
    border: transparent;
}

.header-top-container .formulario-container .search-container .search-input::placeholder,
.header-top-container .formulario-container .search-container .search-input #search-icon {
    color: var(--color-header);
}


/*==========HEADER BOTTOM==========*/
.header-bottom-container {
    background-color: var(--color-nav);
    padding: 1rem 0;
    text-transform: uppercase;
}

.header-bottom-container ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    max-width: 1356px;
    margin: 0 auto;
}

.header-bottom-container a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border: transparent;
    transition: all 0.3s;
}

.header-bottom-container a:hover {
    border-bottom: 3px solid #3b04d480;
    /*#ffffff83*/
}

/*==========MAIN SECTION DESCUENTOS==========*/

.section-ofertas,
.section-marcas,
.section-descuentos {
    padding: 2rem 0;
}

.section-descuentos .swiper-descuentos {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 380px;
}

.section-descuentos .swiper-descuentos .descuentos-container {
    box-sizing: border-box;
    height: 100%;
    align-items: stretch;
}

.section-descuentos .swiper-descuentos .descuentos-container .card-descuento {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.section-descuentos .swiper-descuentos .descuentos-container .card-descuento:hover {
    transform: scale(0.98);
}

.section-descuentos .swiper-descuentos .descuentos-container .card-descuento img {
    display: block;
    width: 100%;
    height: 100%;
    /*mantiene la relacion de aspecto*/
    object-fit: contain;
    object-position: center;
    aspect-ratio: 16/9;
}

/*flechitas*/
.section-descuentos .swiper-descuentos .swiper-button-prev,
.section-descuentos .swiper-descuentos .swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: #ffffff;
    transition: opacity 0.3s ease;
}

.section-descuentos .swiper-descuentos .swiper-button-prev::after,
.section-descuentos .swiper-descuentos .swiper-button-next::after {
    font-size: 24px;
}

/*bullets o paginas*/
/*.section-descuentos .swiper-descuentos .swiper-pagination-bullet {
    background-color: #cccccc;
    opacity: 1;
    width: 10px;
    height: 10px;
}

.section-descuentos .swiper-descuentos .swiper-pagination-bullet-active {
    background-color: #2a5ee7;
}
*/
/*==========MAIN SECTION BIENVENIDA==========*/
.section-bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 2rem;
    margin: 0 auto;
    max-width: 1356px;
}

.section-bienvenida h2 {
    color: #ffffff;
    font-size: var(--font-titulo);
}

/*==========MAIN SECTION INFORMACION==========*/
.section-informacion {
    width: 100%;
    height: 200px;
    padding: 2rem 0;
}

.section-informacion .informacion-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.section-informacion .informacion-container .card-informacion,
.section-informacion .informacion-container .card-informacion .columna-descripcion {
    display: flex;
}

.section-informacion .informacion-container .card-informacion {
    align-items: center;
    color: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 10px #ffffff2a;
    border-radius: 8px;
    height: 135px;
    gap: 14px;
}

.section-informacion .informacion-container .card-informacion .columna-descripcion {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.section-informacion .informacion-container .card-informacion .columna-icono {
    align-self: start;
}

.section-informacion .informacion-container .card-informacion .columna-descripcion h3 {
    font-size: 14px;
}

.section-informacion .informacion-container .card-informacion .columna-descripcion p {
    font-size: 12px;
    display: flex;
    justify-content: end;
}

/*==========MAIN SECTION MARCAS==========*/
.section-marcas .swiper-marcas {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 250px;
}

.section-marcas .swiper-marcas .marcas-container {
    box-sizing: border-box;
    height: 100%;
    align-items: stretch;
}

.section-marcas .swiper-marcas .marcas-container .card-marca {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.section-marcas .swiper-marcas .marcas-container .card-marca:hover {
    transform: scale(0.98);
}

.section-marcas .swiper-marcas .marcas-container .card-marca img {
    display: block;
    width: 100%;
    height: 100%;
    /*mantiene la relacion de aspecto*/
    object-fit: contain;
    object-position: center;
}


/*flechitas*/
.section-marcas .swiper-marcas .swiper-button-prev,
.section-marcas .swiper-marcas .swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: #ffffff;
    transition: opacity 0.3s ease;
}

.section-marcas .swiper-marcas .swiper-button-prev::after,
.section-marcas .swiper-marcas .swiper-button-next::after {
    font-size: 24px;
}

/*==========MAIN SECTION OFERTAS==========*/
.section-ofertas h2 {
    color: #ffffff;
    font-size: 24px;
}

.section-ofertas .ofertas-container {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.section-ofertas .ofertas-container .card-oferta {
    color: #ffffff;
    padding: 8px;
    box-shadow: 0 2px 10px #ffffff2a;
    cursor: pointer;
}

.section-ofertas .ofertas-container .card-oferta img {
    width: 100%;
}

.section-ofertas .ofertas-container .card-oferta .item-descripcion .off,
.section-ofertas .ofertas-container .card-oferta .item-descripcion .intereses {
    color: red;
    font-size: 12px;
    font-weight: 100;
    padding: 4px 0;
}

.section-ofertas .ofertas-container .card-oferta .item-descripcion .precio {
    font-weight: 600;
    font-size: 18px;
}

.section-ofertas .ofertas-container .card-oferta .item-descripcion h3,
.section-ofertas .ofertas-container .card-oferta .item-descripcion .medio-pago {
    padding: 4px 0;
    font-weight: 300;
    font-size: 12px;
}

.section-ofertas .ofertas-container .card-oferta form {
    display: flex;
    justify-content: center;
}

.section-ofertas .ofertas-container .card-oferta form button {
    background-color: #3b04d480;
    font-size: 16px;
    color: white;
    border: none;
    padding: 8px 30%;
    cursor: pointer;
}

.section-ofertas a {
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}